In [3]:
# Our data management libraries
import pandas as pd

In [6]:
df = pd.read_csv('ecommerce-behavior-data-from-multi-category-store/2019-Nov.csv',chunksize = 10000)

In [10]:
for chunk in df:
    display(chunk.head())
    break

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
30000,2019-11-01 02:11:29 UTC,view,17200570,2053013559792632471,furniture.living_room.sofa,NaN,437.33,534315986,1328579a-0a4e-42ed-b6cc-6ccc68f24deb
30001,2019-11-01 02:11:29 UTC,view,31501033,2053013558031024687,NaN,luminarc,36.04,549212316,aa3e881a-bcf1-41f4-85d0-d65442b323d3
30002,2019-11-01 02:11:29 UTC,view,1005159,2053013555631882655,electronics.smartphone,xiaomi,212.10,545765280,69fa31cc-fe5e-430f-8b89-f5506a57a51e
30003,2019-11-01 02:11:29 UTC,view,1004666,2053013555631882655,electronics.smartphone,samsung,1156.79,566092815,b4fd51dc-90d3-4cd3-b196-52a81acbd9bc
30004,2019-11-01 02:11:29 UTC,view,1802038,2053013554415534427,electronics.video.tv,tcl,189.37,514197022,b72f1c85-9089-48ff-8406-f5d9241b3359